.Product3DViewer {
    &-Model {
        width: 100%;
        height: calc(100vh - 200px);
        max-height: 150vw;
    }

    &-Switcher {
        margin: 12px;
        display: flex;
        justify-content: center;
    }

    &-ActiveIndex {
        margin: 12px;
    }
}